# 1) ignore all files 
#    all files are ignored, but directories are not ignored
*
!*/

# 2) define allowed folders
!/kitty/**
!/lazygit/**
!/nvim/**
!/claude/**
!/install.sh

# 3) define ignore files or folders
tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
.DS_Store
